<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <ioc>
        <processor patch:instead="*[@type='Sitecore.XA.Feature.Context.Pipelines.IoC.RegisterContextServices, Sitecore.XA.Feature.Context']" type="Sitecore.Support.XA.Feature.Context.Pipelines.IoC.RegisterContextServices, Sitecore.Support.242122" />
      </ioc>
    </pipelines>
    <settings>
      <setting name="Languages.AlwaysStripLanguage" value="false">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>